.select-for-page {
  display: flex;
  flex-direction: column;
  &__option {
    border: 1px solid #b4bdc3;
    box-sizing: border-box;
    width: 128px;
    height: 40px;
    display: block;
    padding: 0.6em 1.4em 0.5em 0.8em;
    margin: 0;
    box-shadow: 0 1px 0 1px rgba(0,0,0,0.04);
    appearance: none;
  }
  &__svg {
    transform: rotate(90deg);
    position: absolute;
    margin-top: 30px;
    margin-left: 100px;
    fill: #b4bdc3;
  }
  &__text {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0;
    color: #89939a;
    font-family: "Mont-SemiBold", sans-serif;
    padding-bottom: 4px;
  }
}
