@font-face {
  font-family: "Mont";
  src: url("/src/fonts/Mont-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("/src/fonts/Mont-SemiBold.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("/src/fonts/Mont-Bold.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
